[class^="ico-"],
[class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-mark:before {
  content: "\e910";
}

.ico-youtube:before {
  content: "\e900";
}
.ico-instagram:before {
  content: "\e909";
}
.ico-facebook:before {
  content: "\e90c";
}
.ico-user:before {
  content: "\e901";
}
.ico-star:before {
  content: "\e902";
}
.ico-search:before {
  content: "\e903";
}
.ico-phone1:before {
  content: "\e904";
}
.ico-phone:before {
  content: "\e905";
}
.ico-map-pin:before {
  content: "\e906";
}
.ico-location:before {
  content: "\e907";
}
.ico-letter:before {
  content: "\e908";
}
.ico-home:before {
  content: "\e90a";
}
.ico-gift:before {
  content: "\e90b";
}
.ico-cart:before {
  content: "\e90d";
}
.ico-calendar:before {
  content: "\e90e";
}
.ico-arrow:before {
  content: "\e90f";
}
