// Заголовки, общие БЄМ блоки и проче...

.section {
  &__title1 {
    font-weight: 700;
    font-size: rem(24);
    line-height: percent(30, 24);
    text-transform: uppercase;
    color: #333333;
    display: inline-block;
  }
}

.info-mark {
  background: #ec1f46;
  border-radius: 3px;

  color: #fff;
}

.stars {
  display: flex;
  align-items: center;
  gap: 2px;
}
.star {
}

.btn {
  padding: 10px 25px;
  background: #ec1f46;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: rem(14);
  line-height: percent(19, 14);

  transition: all 0.3s ease-in-out;

  border: 2px solid #ec1f46;

  @media (min-width: $mobile) {
    &:hover {
      color: #ec1f46;
      background: #f5fafe;
    }
  }

  &:focus {
    color: #ec1f46;
    background: #f5fafe;
  }

  &:active {
    background: darken($color: #fff, $amount: 20%);
  }
}

.form {
  &__input {
    background: #ffffff;
    border-radius: 4px;
    height: 50px;
    padding: 17px 22px;
    border: 2px solid #fff;
    transition: all 0.3s ease-in-out;

    &::placeholder {
      font-weight: 400;
      font-size: rem(12);
      line-height: percent(15, 12);
      color: #bdbdbd;
    }

    @media (min-width: $mobile) {
      &:hover {
        border: 2px solid #ec1f46;
      }
    }

    &:focus {
      border: 2px solid #ec1f46;
    }
  }

  &__textarea {
    background: #ffffff;
    border-radius: 4px;
    resize: vertical;
    padding: 17px 22px;
    border: 2px solid #fff;
    transition: all 0.3s ease-in-out;

    &::placeholder {
      font-weight: 400;
      font-size: rem(12);
      line-height: percent(15, 12);
      color: #bdbdbd;
    }

    @media (min-width: $mobile) {
      &:hover {
        border: 2px solid #ec1f46;
      }
    }

    &:focus {
      border: 2px solid #ec1f46;
    }
  }

  &__info {
    font-weight: 700;
    font-size: rem(12);
    line-height: percent(15, 12);
    color: #bdbdbd;
  }

  &__btn {
    font-weight: 700;
    font-size: rem(12);
    line-height: percent(15, 12);
    color: #fff;
    padding: 18px 65px;
  }
}
