// Заголовки, общие БЄМ блоки и проче...

.section {
  margin-bottom: 65px;

  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 36, 25);
    line-height: percent(45, 36);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 65px;
  }

  &__title1 {
    font-weight: 700;
    @include adaptiveValue("font-size", 24, 16);
    line-height: percent(30, 24);
    text-transform: uppercase;
    color: #333333;
    display: inline-block;
  }
}

.info-mark {
  background: #ec1f46;
  border-radius: 3px;

  color: #fff;
}

.stars {
  display: flex;
  align-items: center;
  gap: 2px;
}
.star {
}

.btn {
  padding: 10px 25px;
  background: #ec1f46;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: rem(14);
  line-height: percent(19, 14);

  transition: all 0.3s ease-in-out;

  border: 2px solid #ec1f46;

  @media (min-width: $mobile) {
    &:hover {
      color: #ec1f46;
      background: #f5fafe;
    }
  }

  // &:focus {
  //   color: #ec1f46;
  //   background: #f5fafe;
  // }

  &:active {
    background: darken($color: #fff, $amount: 20%);
  }
}

.form {
  &__input {
    background: #ffffff;
    border-radius: 4px;
    height: 50px;
    padding: 17px 22px;
    border: 2px solid #fff;
    transition: all 0.3s ease-in-out;

    &::placeholder {
      font-weight: 400;
      font-size: rem(12);
      line-height: percent(15, 12);
      color: #bdbdbd;
    }

    @media (min-width: $mobile) {
      &:hover {
        border: 2px solid #919090;
      }
    }

    &:focus {
      border: 2px solid #919090;
    }

    &.invalid {
      color: #ec1f46;
      border-color: #ec1f46;
    }

    &.success {
      border-color: #6aec1f;
    }
  }

  &__textarea {
    background: #ffffff;
    border-radius: 4px;
    resize: vertical;
    padding: 17px 22px;
    border: 2px solid #fff;
    transition: all 0.3s ease-in-out;

    &::placeholder {
      font-weight: 400;
      font-size: rem(12);
      line-height: percent(15, 12);
      color: #bdbdbd;
    }

    @media (min-width: $mobile) {
      &:hover {
        border: 2px solid #919090;
      }
    }

    &:focus {
      border: 2px solid #919090;
    }

    &.invalid {
      color: #ec1f46;
      border-color: #ec1f46;
    }

    &.success {
      border-color: #6aec1f;
    }
  }

  &__info {
    font-weight: 700;
    font-size: rem(12);
    line-height: percent(15, 12);
    color: #bdbdbd;
  }

  &__btn {
    font-weight: 700;
    font-size: rem(12);
    line-height: percent(15, 12);
    color: #fff;
    padding: 18px 65px;
  }
}

.slider-btns {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 90;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  padding: 0 26px;
}
.slider-prev {
  transform: rotate(90deg);
  cursor: pointer;
}
.slider-next {
  transform: rotate(-90deg);
  cursor: pointer;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0 0;
  font-size: 0;

  li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid #828282;

    transition: all 0.3s ease-in-out;
    &.slick-active {
      background: #828282;
    }
  }
}

.info-list {
  [class*="ico"] {
    font-size: 14px;
    margin-right: 9px;
  }
  li {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.price {
  position: relative;
  &__discount {
    font-weight: 400;
    font-size: rem(14);
    line-height: percent(18, 14);
    margin-bottom: 5px;
    text-decoration-line: line-through;

    position: absolute;
    bottom: 100%;
    left: 0;
  }
  b {
    font-weight: 800;
    font-size: rem(24);
    line-height: percent(33, 24);
  }
}
