//====================================================================================================

.header-top {
  background: #f5fafe;
  @include adaptiveValue("padding-top", 21, 12);
  @include adaptiveValue("padding-bottom", 21, 12);

  @media (max-width: $mobile) {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    background: transparent;
    path {
      fill: #fff;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    font-size: rem(10);
    line-height: percent(13, 10);

    @media (max-width: $mobile) {
      // justify-content: center;
      gap: 10px;
      @include adaptiveValue("font-size", 16, 12, 767);
    }
  }

  &__info {
    b {
      font-weight: 700;
      margin-right: rem(10);
    }
  }

  &__end {
    display: flex;
    align-items: center;
    gap: 100px;
    @media (max-width: $mobile) {
      gap: 20px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: rem(20);

    transition: all 0.3s ease-in-out;

    path {
      transition: all 0.3s ease-in-out;
    }

    @media (min-width: $mobile) {
      &:hover {
        color: lighten($color: #333, $amount: 40%);
        path {
          fill: lighten($color: #333, $amount: 40%);
        }
      }
    }
  }

  &__gift {
  }

  &__loyalty {
    .ico-star {
      font-size: 18px;
    }
  }
}

.header-medium {
  // padding: 20px 0;
  @include adaptiveValue("padding-top", 40, 10);
  @include adaptiveValue("padding-bottom", 40, 10);
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
  }

  &__search-form {
    display: flex;
    align-items: center;
    max-width: 350px;
    width: 100%;
    height: 40px;
  }

  &__end {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 53, 16);
  }

  &__cart {
  }

  &__user {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 18, 10);
  }
}

.logo {
  font-family: "Luckiest Guy";
  @include adaptiveValue("font-size", 24, 18);
  line-height: percent(24, 24);

  span {
    color: #ec1f46;
  }
}

.search-form {
  &__input {
    background: #f5fafe;
    height: 100%;
    width: 80%;
    padding: 11px 14px 11px 22px;
    border: 1px solid #f5f5f5;
    border-radius: 6px 0 0 6px;

    transition: all 0.3s ease-in-out;

    @media (min-width: $mobile) {
      &:hover {
        border-top: 1px solid #ec1f46;
        border-right: 0px;
        border-bottom: 1px solid #ec1f46;
        border-left: 1px solid #ec1f46;
      }
    }

    &:focus {
      border-top: 1px solid #ec1f46;
      border-right: 0px;
      border-bottom: 1px solid #ec1f46;
      border-left: 1px solid #ec1f46;
    }
  }

  &__btn {
    height: 100%;
    width: 20%;
    font-size: 16px;
    color: #fff;
    background: #ec1f46;
    border-radius: 0px 6px 6px 0px;
    transition: all 0.3s ease-in-out;

    border-top: 1px solid #ec1f46;
    border-right: 1px solid #ec1f46;
    border-bottom: 1px solid #ec1f46;
    border-left: 0px;

    @media (min-width: $mobile) {
      &:hover {
        color: #ec1f46;
        background: #f5fafe;
      }
    }

    // &:focus {
    //   color: #ec1f46;
    //   background: #f5fafe;
    // }

    &:active {
      background: darken($color: #fff, $amount: 20%);
    }
  }
}

.cart {
  font-size: 24px;
  position: relative;
  display: inline-block;
  cursor: pointer;

  &__num {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #ec1f46;
    color: #fff;

    font-weight: 600;
    font-size: rem(10);
    line-height: percent(13, 10);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.user {
  &__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    font-size: rem(14);
    line-height: percent(18, 14);

    @media (max-width: 425px) {
      display: none;
    }
  }

  &__arrow-down {
    font-size: 14px;
    cursor: pointer;
  }
}

.header-bottom {
  @include adaptiveValue("padding-top", 31, 15, $containerWidth, 760);
  @include adaptiveValue("padding-bottom", 31, 15, $containerWidth, 760);
  background-color: #0a223d;
  color: #fff;

  @media (max-width: $mobile) {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    transform: translateX(120%);
    opacity: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease-in-out;

    &.menu-open {
      transform: translateX(0%);
      opacity: 1;
    }

    .header__container {
      width: inherit;
      height: inherit;
    }

    &__inner {
      width: inherit;
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      padding: 50px 0 20px;
      overflow: auto;
    }

    &__nav {
      margin-bottom: 20px;
    }
    .search-form {
      margin-top: 20px;
      margin-bottom: 20px;
      @include adaptiveValue("max-width", 350, 290, 768);
      // margin: 0 auto;
    }

    .header-medium__cart {
      margin-top: 30px;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $mobile) {
    height: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    @include adaptiveValue("font-size", 14, 20, 767);
  }
  &__item {
    font-weight: 700;
    @include adaptiveValue("font-size", 14, 12, $containerWidth, 768);
    line-height: percent(18, 14);
    text-transform: uppercase;

    transition: all 0.3s ease-in-out;

    @media (min-width: $mobile) {
      &:hover {
        color: darken($color: #fff, $amount: 20%);
      }
    }
    &:active {
      color: darken($color: #fff, $amount: 40%);
    }
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 105;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: $mainColor;
    }
    &::before {
      top: 0;
      width: 30%;
    }
    &::after {
      bottom: 0;
      width: 70%;
    }
    span {
      top: calc(50% - rem(1));
    }
    &.menu-open {
      span {
        width: 0;
      }
      &::before,
      &::after {
        background-color: #fff;
        width: 100%;
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
