// ======================================================================================

.intro {
  &__bread-crumbs {
    padding: 18px 0;
    font-size: rem(10);
    line-height: percent(13, 10);
    color: #0a223d;

    a {
      display: inline-flex;

      &:not(:last-child) {
        &::after {
          content: "/";
          margin: 0 3px;
        }
      }
    }
  }

  &__header {
  }

  &__stars {
  }

  &__body {
  }
}
.intro-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  &__box {
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__offer {
    margin: 0 0 0 15px;
    padding: 4px 10px;
    font-weight: 600;
    font-size: rem(10);
    line-height: percent(13, 10);
    color: #ffffff;
  }

  &__descr {
    font-weight: 400;
    font-size: rem(12);
    line-height: percent(15, 12);
    color: #333333;
  }

  &__ratting {
    padding: 8px;
    text-align: center;

    p {
      font-weight: 600;
      font-size: rem(8);
      line-height: percent(10, 8);
      margin-bottom: 2px;
    }

    b {
      font-weight: 700;
      font-size: rem(14);
      line-height: percent(18, 14);
    }
  }
}

.intro-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  @media (max-width: 1025px) {
    gap: 10px;
  }
  @media (max-width: $mobile) {
    gap: 30px;
    flex-direction: column;
  }

  &__col {
    flex: 1;
    position: relative;

    &:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 27px;
      @media (max-width: $mobile) {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }
    }
  }

  &__slider {
    max-width: 728px;
    @include adaptiveValue("width", 728, 290);
    // width: 100%;
    height: 450px;
    @media (max-width: $mobile) {
      width: 100vw;
      padding: 0 15px;
      // width: 100%;
      height: 450px;
    }
  }

  &__booking {
    background: #0a223d;
    border-radius: 8px;
    overflow: hidden;
    padding: 30px 25px;
    color: #fff;
    height: 213px;
    width: 100%;
    min-width: 270px;

    @media (max-width: $mobile) {
    }
  }

  &__map {
    height: 213px;
    min-width: 270px;
    width: 100%;
    background: #0a223d;
    border-radius: 8px;
    overflow: hidden;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.intro-slider {
  &__item {
    max-width: 100%;
    height: 450px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    &.slick-slide{
      min-height: 450px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 122, 223, 0.48) 0%,
        rgba(255, 255, 255, 0.128) 100%
      );
    }
  }
}

.intro-booking {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__box {
    width: 100%;
    display: flex;
    align-content: inherit;
    justify-content: space-between;

    font-family: "Nunito";
    [class*="ico"] {
      font-size: 14px;
      margin-right: 9px;
    }
  }

  &__price-box {
    font-weight: 400;
    font-size: rem(12);
    line-height: percent(16, 12);
    margin-bottom: 9px;
  }

  // &__price {
  //   b {
  //     font-weight: 800;
  //     font-size: rem(24);
  //     line-height: percent(33, 24);
  //   }
  // }

  // &__info {
  //   li {
  //     &:not(:last-child) {
  //       margin-bottom: 8px;
  //     }
  //   }
  // }

  &__coll-center {
    font-weight: 600;
    font-size: rem(18);
    line-height: percent(25, 18);
    margin-bottom: 18px;
  }

  &__btn {
    width: 100%;
    text-align: center;
  }
}

// ======================================================================================
