.offers {
  &__inner {
  }

  &__row {
    display: flex;
    justify-content: center;
    gap: 28px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    flex: 0 1 350px;
    background: #0a223d;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
  }
}

.offers-item {
  &__img {
    width: inherit;
    height: 250px;
    overflow: hidden;
    // img {
    //   width: 100%;
    //   height: auto;
    // }

    position: relative;
    .info-mark {
      position: absolute;
      left: 0;
      top: 26px;
      border-radius: 0px 4px 4px 0px;
      padding: 4px 9px;
    }
  }

  &__body {
    padding: 30px;
    @include adaptiveValue("padding", 30, 15);
  }

  &__title {
    font-weight: 700;
    font-size: rem(18);
    line-height: percent(23, 18);
    margin-bottom: 23px;
  }

  &__list {
    padding-bottom: 24px;
  }

  &__item {
  }

  &__price-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    margin-top: 20px;
  }

  &__btn {
  }
}

.offers-item-big {
  display: flex;
  flex: 0 1 730px;

  @media (max-width: 757px) {
    flex: 0 1 350px;
    display: block;
  }

  .offers-item__img {
    width: 50%;
    height: 100%;
    @media (max-width: 757px) {
      width: 100%;
      height: 250px;
    }
    // img {
    //   width: 100%;
    //   height: auto;
    // }

    position: relative;
    .info-mark {
      position: absolute;
      left: 0;
      top: 30px;
      border-radius: 0px 4px 4px 0px;
      padding: 8px 12px;
      @media (max-width: 757px) {
        top: 26px;
        padding: 4px 9px;
      }
    }
  }

  .offers-item__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 46px 43px 30px;

    @media (max-width: 757px) {
      display: block;
      padding: 30px;
      @include adaptiveValue("padding", 30, 15);
      width: 100%;
    }
  }

  .offers-item__title {
    font-weight: 700;
    font-size: rem(18);
    line-height: percent(23, 18);
    margin-bottom: 27px;

    .star {
      margin-bottom: 5px;
    }
  }
  .offers-item__descr {
    font-size: rem(14);
    line-height: percent(22, 18);
    margin-bottom: 34px;
  }
  .offers-item__list {
    padding-bottom: 37px;
  }

  .offers-item__item {
  }

  .offers-item__price-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .offers-item__price {
  }

  .offers-item__btn {
  }
}
