// ================================================================================

.tabs {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &__title {
    font-weight: 700;
    line-height: percent(18, 14);
    padding-bottom: 11px;
    position: relative;
    transition: all 0.3s ease-in-out;

    &::before {
      content: "";
      width: 0;
      height: 4px;
      background-color: #ec1f46;
      position: absolute;
      top: 100%;
      left: 0;
      transition: all 0.3s ease-in-out;
    }

    @media (min-width: $mobile) {
      &:hover {
        color: #ec1f46;

        &::before {
          width: 100%;
        }
      }
    }

    &.active {
      color: #ec1f46;

      &::before {
        width: 100%;
      }
    }
  }

  &__body {
    .section__title1 {
      margin-bottom: 30px;
    }
    display: none;

    &.active {
      display: block;
    }
  }

  &__row {
    display: flex;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
      gap: 32px;

      .tabs-item__body {
        display: flex;
        gap: 20px;
        padding: 24px;
      }
    }
  }

  &__item {
    background: #ffffff;
    border-radius: 8px 8px 8px 0px;
    overflow: hidden;
    flex: 1;
    min-width: 280px;
  }

  &__list {
  }
}

.tabs-item {
  &__header {
    padding: 16px 24px;
    color: #fff;
    background-color: #0a223d;
    font-weight: 700;
    font-size: rem(14);
    line-height: percent(18, 14);
  }

  &__body {
    padding: 38px 24px 58px;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
    hr {
      border-bottom: 1px dashed #e0e0e0;
      margin: 44px 0 33px;
    }
  }

  &__info {
    font-style: italic;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    position: absolute;
    // bottom: 0;
    left: 40px;
  }

  &__body-box {
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("gap", 80, 20);
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
}

.tabs-list {
  flex: 1;
  @media (max-width: 768px) {
    width: 210px;
  }
  position: relative;

  &__item {
    font-size: rem(12);
    line-height: percent(15, 12);
    padding: 0 0 0 40px;
    position: relative;
    @media (max-width: 768px) {
      width: 210px;
    }

    &:before {
      content: "\e910";
      font-family: "icomoon" !important;
      font-size: 17px;
      position: absolute;
      left: 0;
      top: 0;
    }

    &:not(:last-child) {
      margin-bottom: rem(22);
    }
  }

  &__date {
    &:before {
      content: "\e90e";
    }
  }

  &__box {
    flex: 1;
  }

  &__title {
    font-weight: 600;
    font-size: rem(13);
    line-height: percent(16, 13);
    color: #ec1f46;
    margin-bottom: 21px;
  }
}

// ================================================================================
